<a href="https://colab.research.google.com/github/irving91/bike-share-sim-nugget/blob/master/London_Bike_Share_DataPrep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Data @ https://www.kaggle.com/edenau/london-bike-sharing-system-data

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import random

from scipy.stats import poisson

In [ ]:
stations = pd.read_csv('stations.csv')
journeys = pd.read_csv('journeys.csv')

In [ ]:
stations.head()

   Station ID  Capacity  ...  Longitude                          Station Name
0           1        19  ...  -0.109970            River Street , Clerkenwell
1           2        37  ...  -0.197574        Phillimore Gardens, Kensington
2           3        32  ...  -0.084605  Christopher Street, Liverpool Street
3           4        23  ...  -0.120973       St. Chad's Street, King's Cross
4           5        27  ...  -0.156876         Sedding Street, Sloane Square

[5 rows x 5 columns]

In [ ]:
journeys.head()

   Journey Duration  Journey ID  ...  Start Minute  Start Station ID
0            2040.0         953  ...            26               251
1            1800.0       12581  ...            51               550
2            1140.0        1159  ...            42               212
3             420.0        2375  ...             9               163
4            1200.0       14659  ...            13                36

[5 rows x 14 columns]

In [ ]:
df = pd.merge(journeys, stations, left_on='Start Station ID', right_on = 'Station ID', how='left')

In [ ]:
df

         Journey Duration  ...                         Station Name
0                  2040.0  ...  Brushfield Street, Liverpool Street
1                  1800.0  ...             Harford Street, Mile End
2                  1140.0  ...      Campden Hill Road, Notting Hill
3                   420.0  ...         Sloane Avenue, Knightsbridge
4                  1200.0  ...          De Vere Gardens, Kensington
...                   ...  ...                                  ...
1542839             270.0  ...                Wenlock Road , Hoxton
1542840             911.0  ...             Knightsbridge, Hyde Park
1542841             447.0  ...                Tower Gardens , Tower
1542842             424.0  ...                    The Vale, Chelsea
1542843             307.0  ...              Doric Way , Somers Town

[1542844 rows x 19 columns]

In [ ]:
df['Start Datetime'] = df['Start Hour'] + df['Start Minute']/59
df['End Datetime'] = df['End Hour'] + df['End Minute']/59
df

         Journey Duration  Journey ID  ...  Start Datetime  End Datetime
0                  2040.0         953  ...       17.440678     18.000000
1                  1800.0       12581  ...       14.864407     15.355932
2                  1140.0        1159  ...       16.711864     17.016949
3                   420.0        2375  ...       12.152542     12.271186
4                  1200.0       14659  ...       19.220339     19.559322
...                   ...         ...  ...             ...           ...
1542839             270.0        5296  ...       23.983051      0.033898
1542840             911.0       12348  ...       23.983051      0.220339
1542841             447.0        8303  ...       24.000000      0.118644
1542842             424.0       12038  ...       24.000000      0.101695
1542843             307.0        4590  ...       24.000000      0.067797

[1542844 rows x 21 columns]

In [ ]:
df['Start Datetime Rounded'] = np.round(df['Start Datetime']*2)/2
df['Start Datetime Rounded'] = df['Start Datetime Rounded'].apply(lambda x: 0 if x==24 else x)
df[['Start Datetime','Start Datetime Rounded']].head()

   Start Datetime  Start Datetime Rounded
0       17.440678                    17.5
1       14.864407                    15.0
2       16.711864                    16.5
3       12.152542                    12.0
4       19.220339                    19.0

In [ ]:
df['End Datetime Rounded'] = np.round(df['End Datetime']*2,0)/2
df['End Datetime Rounded'] = df['End Datetime Rounded'].apply(lambda x: 0 if x==24 else x)
df[['End Datetime','End Datetime Rounded']].head()

   End Datetime  End Datetime Rounded
0     18.000000                  18.0
1     15.355932                  15.5
2     17.016949                  17.0
3     12.271186                  12.5
4     19.559322                  19.5

In [ ]:
df['Start DMY'] = pd.to_datetime(df['Start Date'].map(str) + '-' + df['Start Month'].map(str) + '-' + df['Start Year'].map(str))
df['End DMY'] = pd.to_datetime(df['End Date'].map(str) + '-' + df['End Month'].map(str) + '-' + df['End Year'].map(str))
df.head()

   Journey Duration  Journey ID  ...  Start DMY    End DMY
0            2040.0         953  ... 2017-09-19 2017-09-19
1            1800.0       12581  ... 2017-09-19 2017-09-19
2            1140.0        1159  ... 2017-09-15 2017-09-15
3             420.0        2375  ... 2017-09-14 2017-09-14
4            1200.0       14659  ... 2017-09-13 2017-09-13

[5 rows x 25 columns]

In [ ]:
arrival_df = df.groupby(['End Station ID','End Datetime Rounded', 'End DMY'], as_index=False)['Journey ID'].count()
arrival_df = arrival_df.groupby(['End Station ID','End Datetime Rounded'])['Journey ID'].mean().round(2).unstack(level=0).fillna(0)
arrival_df

End Station ID         1     2      3     4    ...   819   820   821   826
End Datetime Rounded                           ...
0.0                   1.00  1.00   1.25  1.20  ...  2.20  1.50  1.57  3.00
0.5                   1.38  1.00   1.75  1.50  ...  2.55  1.00  1.17  2.00
1.0                   1.00  1.00   1.00  1.60  ...  1.33  1.50  1.00  1.50
1.5                   1.00  1.00   0.00  1.50  ...  2.14  1.12  2.00  1.00
2.0                   2.00  1.00   1.00  1.67  ...  3.14  1.56  1.67  2.20
2.5                   0.00  1.00   1.00  1.00  ...  2.33  1.25  1.00  1.00
3.0                   0.00  0.00   1.50  0.00  ...  1.67  1.00  1.00  1.00
3.5                   0.00  0.00   2.00  1.00  ...  2.67  2.00  1.00  1.00
4.0                   1.67  0.00   0.00  1.50  ...  1.33  1.00  0.00  0.00
4.5                   1.50  0.00   1.00  2.00  ...  1.33  1.00  2.50  1.33
5.0                   0.00  1.00   1.00  1.00  ...  2.50  0.00  0.00  1.00
5.5                   0.00  1.00   1.00  1.00  ...  1.00  1.00  0.00  1.50
6.0                   1.00  1.00   2.10  1.33  ...  2.00  1.00  1.50  1.00
6.5                   1.00  1.22   2.16  1.00  ...  2.00  1.25  1.00  1.40
7.0                   1.13  1.59   4.83  1.00  ...  1.00  1.00  1.00  1.29
7.5                   1.00  1.77   8.44  1.25  ...  1.00  1.00  1.36  1.31
8.0                   1.00  1.39   9.63  1.40  ...  1.67  1.00  1.36  1.47
8.5                   1.08  2.05  11.76  1.35  ...  1.88  1.00  1.24  2.03
9.0                   1.30  1.84  11.12  1.89  ...  2.00  1.00  1.36  3.00
9.5                   1.41  2.10   3.70  1.68  ...  1.62  1.00  1.25  2.44
10.0                  1.20  2.03   2.15  1.41  ...  1.57  1.08  1.80  1.76
10.5                  1.12  2.00   1.59  1.44  ...  1.68  1.10  1.33  1.96
11.0                  1.00  2.15   1.58  1.00  ...  1.47  1.00  2.06  2.04
11.5                  1.33  2.33   1.65  1.35  ...  2.35  1.54  1.82  1.96
12.0                  1.19  2.26   1.85  1.50  ...  2.13  1.11  2.94  1.76
12.5                  1.46  2.58   1.61  1.45  ...  2.40  1.13  1.96  1.65
13.0                  1.53  2.38   1.46  1.28  ...  2.25  1.31  1.74  2.13
13.5                  1.54  2.59   2.21  1.59  ...  2.59  1.31  1.90  2.12
14.0                  1.30  2.23   2.10  1.85  ...  2.42  1.20  2.23  1.64
14.5                  1.47  2.65   1.77  1.67  ...  2.08  1.31  2.26  2.42
15.0                  1.33  2.53   1.55  1.47  ...  2.63  1.27  2.52  1.85
15.5                  2.09  2.36   1.96  1.91  ...  2.67  1.45  2.59  2.32
16.0                  1.22  2.37   1.85  1.88  ...  2.42  1.13  1.40  2.07
16.5                  1.85  2.74   2.54  1.68  ...  2.64  1.59  1.76  2.00
17.0                  1.41  2.62   4.00  1.86  ...  2.91  1.47  2.22  2.38
17.5                  1.78  2.54   5.69  2.98  ...  3.05  1.27  2.32  2.78
18.0                  2.23  2.71   5.55  4.78  ...  3.85  2.03  1.67  3.30
18.5                  1.61  2.35   4.47  3.24  ...  4.12  2.15  1.73  2.79
19.0                  1.43  2.45   2.19  2.83  ...  3.55  2.24  2.37  2.97
19.5                  1.67  1.91   1.56  2.19  ...  2.66  2.30  2.31  2.39
20.0                  1.55  2.22   1.53  1.81  ...  2.84  2.14  2.07  2.15
20.5                  1.62  1.73   1.38  1.68  ...  2.36  1.96  2.74  1.65
21.0                  1.54  1.60   1.50  1.58  ...  2.50  1.78  1.73  1.84
21.5                  1.08  1.92   1.50  1.25  ...  1.80  1.75  1.58  1.70
22.0                  1.25  2.20   1.29  1.80  ...  2.53  1.69  1.73  2.79
22.5                  1.25  2.00   1.20  1.36  ...  2.73  1.85  1.45  2.38
23.0                  1.10  1.62   1.40  1.33  ...  2.75  1.36  1.35  1.67
23.5                  1.00  1.38   1.00  1.50  ...  1.50  1.79  1.50  1.44

[48 rows x 779 columns]

In [ ]:
departure_df = df.groupby(['Start Station ID','Start Datetime Rounded', 'Start DMY'], as_index=False)['Journey ID'].count()
departure_df = departure_df.groupby(['Start Station ID','Start Datetime Rounded'])['Journey ID'].mean().round(2).unstack(level=0).fillna(0)

In [ ]:
departure_df.head()

Start Station ID        1     2     3     4    ...   819  820   821   826
Start Datetime Rounded                         ...
0.0                     1.5  1.30  1.00  1.25  ...  2.47  3.0  1.62  1.35
0.5                     2.0  1.00  1.75  1.50  ...  2.00  1.0  3.25  1.38
1.0                     1.5  1.40  1.00  1.50  ...  2.30  1.0  1.33  1.30
1.5                     1.0  1.33  1.25  1.50  ...  3.00  0.0  2.00  1.50
2.0                     1.0  1.00  1.50  1.00  ...  2.50  0.0  1.00  2.67

[5 rows x 779 columns]

In [ ]:
arrival_df.to_pickle('Arrivals.pkl')
departure_df.to_pickle('Departures.pkl')

# Simulating Bad Experiences

### Poisson Distribution
###  https://towardsdatascience.com/the-poisson-distribution-and-poisson-process-explained-4e2cb17d459
### https://www.onlinemathlearning.com/poisson-distribution.html

# ![Poisson.JPG]()

In [ ]:
arrivals = pd.read_pickle('Arrivals.pkl')
departures = pd.read_pickle('Departures.pkl')

In [ ]:
departures.head()

Start Station ID        1         2     3    ...  820       821       826
Start Datetime Rounded                       ...
0.0                     1.5  1.300000  1.00  ...  3.0  1.625000  1.352941
0.5                     2.0  1.000000  1.75  ...  1.0  3.250000  1.375000
1.0                     1.5  1.400000  1.00  ...  1.0  1.333333  1.300000
1.5                     1.0  1.333333  1.25  ...  0.0  2.000000  1.500000
2.0                     1.0  1.000000  1.50  ...  0.0  1.000000  2.666667

[5 rows x 779 columns]

In [ ]:
capacity = df.groupby(['Start Station ID'])['Capacity'].max()

In [ ]:
dep_rate = departures.loc[8.5,:]
arr_rate = arrivals.loc[8.5,:]

In [ ]:
def station_sim(a, d, b, max_cap, min_cap):
  '''Estimates bad experiences expected '''
  bad_exp = 0 
  bikes = b

  sim_arrivals = np.random.poisson(a)
  sim_departures = np.random.poisson(d)

  A_List = []
  D_List = []

  for i in range(0, sim_arrivals):
    A_List.append('a')

  for i in range(0, sim_departures):
    D_List.append('d')

  A_List.extend(D_List)
  np.random.shuffle(A_List)

  for i in A_List:
    if i =='a':
      bikes += 1
      if bikes > max_cap:
        bad_exp += 1
        bikes -= 1
    if i == 'd':
      bikes -= 1
      if bikes < min_cap:
        bad_exp += 1
        bikes += 1 

  return bad_exp

In [ ]:
station_sim(5, 10, 5, 10, 0)

7

In [ ]:
function_df = pd.DataFrame({'a': arr_rate, 'd': dep_rate, 'c': capacity})

In [ ]:
function_df

             a         d     c
1     1.076923  3.718750  19.0
2     2.054054  1.600000  37.0
3    11.756098  7.085714  32.0
4     1.354839  3.677419  23.0
5     6.400000  2.631579  27.0
..         ...       ...   ...
818   2.696970  2.000000  13.0
819   1.880000  2.900000  38.0
820   1.000000  4.000000  24.0
821   1.238095  1.966667  27.0
826   2.030303  3.111111  28.0

[779 rows x 3 columns]

In [ ]:
for station in function_df.index[:5]:
  optimal_starting_bikes = 0
  fewest_bad_exp = 10000
  print(f'station: {station}')
  for i in range(int(function_df['c'][station])+1):
    sim_results = []
    for simulation in range(10000):
      result = station_sim(function_df['a'][station], function_df['d'][station], i, function_df['c'][station], 0)
      sim_results.append(result)
    columns = ['Sim_Results']
    Bad_Experiences_Expected = pd.DataFrame(columns=columns, data=sim_results)

    mean_bad_experiences = Bad_Experiences_Expected.mean()[0]
    if mean_bad_experiences < fewest_bad_exp:
      optimal_starting_bikes = i
      fewest_bad_exp = mean_bad_experiences

    print(f'The number of bad experiences expected with {i} starting bikes is: {mean_bad_experiences}')
  print(f'The optimal number of starting bikes is {optimal_starting_bikes}')

station: 1
The number of bad experiences expected with 0 starting bikes is: 2.9916
The number of bad experiences expected with 1 starting bikes is: 2.0571
The number of bad experiences expected with 2 starting bikes is: 1.3083
The number of bad experiences expected with 3 starting bikes is: 0.7605
The number of bad experiences expected with 4 starting bikes is: 0.4069
The number of bad experiences expected with 5 starting bikes is: 0.1962
The number of bad experiences expected with 6 starting bikes is: 0.0795
The number of bad experiences expected with 7 starting bikes is: 0.0322
The number of bad experiences expected with 8 starting bikes is: 0.0121
The number of bad experiences expected with 9 starting bikes is: 0.0039
The number of bad experiences expected with 10 starting bikes is: 0.002
The number of bad experiences expected with 11 starting bikes is: 0.0005
The number of bad experiences expected with 12 starting bikes is: 0.0
The number of bad experiences expected with 13 starting bikes is: 0.0
The number of bad experiences expected with 14 starting bikes is: 0.0
The number of bad experiences expected with 15 starting bikes is: 0.0002
The number of bad experiences expected with 16 starting bikes is: 0.004
The number of bad experiences expected with 17 starting bikes is: 0.0155
The number of bad experiences expected with 18 starting bikes is: 0.0792
The number of bad experiences expected with 19 starting bikes is: 0.3463
The optimal number of starting bikes is 12
station: 2
The number of bad experiences expected with 0 starting bikes is: 0.8651
The number of bad experiences expected with 1 starting bikes is: 0.3377
The number of bad experiences expected with 2 starting bikes is: 0.1157
The number of bad experiences expected with 3 starting bikes is: 0.0369
The number of bad experiences expected with 4 starting bikes is: 0.0084
The number of bad experiences expected with 5 starting bikes is: 0.0015
The number of bad experiences expected with 6 starting bikes is: 0.0001
The number of bad experiences expected with 7 starting bikes is: 0.0
The number of bad experiences expected with 8 starting bikes is: 0.0
The number of bad experiences expected with 9 starting bikes is: 0.0
The number of bad experiences expected with 10 starting bikes is: 0.0
The number of bad experiences expected with 11 starting bikes is: 0.0
The number of bad experiences expected with 12 starting bikes is: 0.0
The number of bad experiences expected with 13 starting bikes is: 0.0
The number of bad experiences expected with 14 starting bikes is: 0.0
The number of bad experiences expected with 15 starting bikes is: 0.0
The number of bad experiences expected with 16 starting bikes is: 0.0
The number of bad experiences expected with 17 starting bikes is: 0.0
The number of bad experiences expected with 18 starting bikes is: 0.0
The number of bad experiences expected with 19 starting bikes is: 0.0
The number of bad experiences expected with 20 starting bikes is: 0.0
The number of bad experiences expected with 21 starting bikes is: 0.0
The number of bad experiences expected with 22 starting bikes is: 0.0
The number of bad experiences expected with 23 starting bikes is: 0.0
The number of bad experiences expected with 24 starting bikes is: 0.0
The number of bad experiences expected with 25 starting bikes is: 0.0
The number of bad experiences expected with 26 starting bikes is: 0.0
The number of bad experiences expected with 27 starting bikes is: 0.0
The number of bad experiences expected with 28 starting bikes is: 0.0
The number of bad experiences expected with 29 starting bikes is: 0.0001
The number of bad experiences expected with 30 starting bikes is: 0.0004
The number of bad experiences expected with 31 starting bikes is: 0.0027
The number of bad experiences expected with 32 starting bikes is: 0.0111
The number of bad experiences expected with 33 starting bikes is: 0.0318
The number of bad experiences expected with 34 starting bikes is: 0.1003
The number of bad experiences expected with 35 starting bikes is: 0.2862
The number of bad experiences expected with 36 starting bikes is: 0.6384
The number of bad experiences expected with 37 starting bikes is: 1.33
The optimal number of starting bikes is 7
station: 3
The number of bad experiences expected with 0 starting bikes is: 1.2833
The number of bad experiences expected with 1 starting bikes is: 0.7171
The number of bad experiences expected with 2 starting bikes is: 0.382
The number of bad experiences expected with 3 starting bikes is: 0.1997
The number of bad experiences expected with 4 starting bikes is: 0.1043
The number of bad experiences expected with 5 starting bikes is: 0.0503
The number of bad experiences expected with 6 starting bikes is: 0.0213
The number of bad experiences expected with 7 starting bikes is: 0.0102
The number of bad experiences expected with 8 starting bikes is: 0.0023
The number of bad experiences expected with 9 starting bikes is: 0.0017
The number of bad experiences expected with 10 starting bikes is: 0.001
The number of bad experiences expected with 11 starting bikes is: 0.0005
The number of bad experiences expected with 12 starting bikes is: 0.0005
The number of bad experiences expected with 13 starting bikes is: 0.0009
The number of bad experiences expected with 14 starting bikes is: 0.002
The number of bad experiences expected with 15 starting bikes is: 0.0051
The number of bad experiences expected with 16 starting bikes is: 0.0124
The number of bad experiences expected with 17 starting bikes is: 0.0166
The number of bad experiences expected with 18 starting bikes is: 0.0366
The number of bad experiences expected with 19 starting bikes is: 0.0642
The number of bad experiences expected with 20 starting bikes is: 0.1154
The number of bad experiences expected with 21 starting bikes is: 0.1805
The number of bad experiences expected with 22 starting bikes is: 0.3012
The number of bad experiences expected with 23 starting bikes is: 0.4741
The number of bad experiences expected with 24 starting bikes is: 0.7037
The number of bad experiences expected with 25 starting bikes is: 1.0026
The number of bad experiences expected with 26 starting bikes is: 1.3964
The number of bad experiences expected with 27 starting bikes is: 1.9642
The number of bad experiences expected with 28 starting bikes is: 2.5554
The number of bad experiences expected with 29 starting bikes is: 3.3084
The number of bad experiences expected with 30 starting bikes is: 4.1166
The number of bad experiences expected with 31 starting bikes is: 4.985
The number of bad experiences expected with 32 starting bikes is: 5.8849
The optimal number of starting bikes is 11
station: 4
The number of bad experiences expected with 0 starting bikes is: 2.7756
The number of bad experiences expected with 1 starting bikes is: 1.8765
The number of bad experiences expected with 2 starting bikes is: 1.1833
The number of bad experiences expected with 3 starting bikes is: 0.649
The number of bad experiences expected with 4 starting bikes is: 0.3332
The number of bad experiences expected with 5 starting bikes is: 0.155
The number of bad experiences expected with 6 starting bikes is: 0.0618
The number of bad experiences expected with 7 starting bikes is: 0.0259
The number of bad experiences expected with 8 starting bikes is: 0.009
The number of bad experiences expected with 9 starting bikes is: 0.0025
The number of bad experiences expected with 10 starting bikes is: 0.0008
The number of bad experiences expected with 11 starting bikes is: 0.0001
The number of bad experiences expected with 12 starting bikes is: 0.0001
The number of bad experiences expected with 13 starting bikes is: 0.0
The number of bad experiences expected with 14 starting bikes is: 0.0
The number of bad experiences expected with 15 starting bikes is: 0.0
The number of bad experiences expected with 16 starting bikes is: 0.0
The number of bad experiences expected with 17 starting bikes is: 0.0
The number of bad experiences expected with 18 starting bikes is: 0.0004
The number of bad experiences expected with 19 starting bikes is: 0.0025
The number of bad experiences expected with 20 starting bikes is: 0.0079
The number of bad experiences expected with 21 starting bikes is: 0.0357
The number of bad experiences expected with 22 starting bikes is: 0.1283
The number of bad experiences expected with 23 starting bikes is: 0.4555
The optimal number of starting bikes is 13
station: 5
The number of bad experiences expected with 0 starting bikes is: 0.6069
The number of bad experiences expected with 1 starting bikes is: 0.2341
The number of bad experiences expected with 2 starting bikes is: 0.08
The number of bad experiences expected with 3 starting bikes is: 0.0255
The number of bad experiences expected with 4 starting bikes is: 0.0052
The number of bad experiences expected with 5 starting bikes is: 0.0012
The number of bad experiences expected with 6 starting bikes is: 0.001
The number of bad experiences expected with 7 starting bikes is: 0.0002
The number of bad experiences expected with 8 starting bikes is: 0.0
The number of bad experiences expected with 9 starting bikes is: 0.0
The number of bad experiences expected with 10 starting bikes is: 0.0
The number of bad experiences expected with 11 starting bikes is: 0.0
The number of bad experiences expected with 12 starting bikes is: 0.0003
The number of bad experiences expected with 13 starting bikes is: 0.0004
The number of bad experiences expected with 14 starting bikes is: 0.0008
The number of bad experiences expected with 15 starting bikes is: 0.0046
The number of bad experiences expected with 16 starting bikes is: 0.0135
The number of bad experiences expected with 17 starting bikes is: 0.0348
The number of bad experiences expected with 18 starting bikes is: 0.0655
The number of bad experiences expected with 19 starting bikes is: 0.1409
The number of bad experiences expected with 20 starting bikes is: 0.2569
The number of bad experiences expected with 21 starting bikes is: 0.4613
The number of bad experiences expected with 22 starting bikes is: 0.7667
The number of bad experiences expected with 23 starting bikes is: 1.2085
The number of bad experiences expected with 24 starting bikes is: 1.8059
The number of bad experiences expected with 25 starting bikes is: 2.5617
The number of bad experiences expected with 26 starting bikes is: 3.4203
The number of bad experiences expected with 27 starting bikes is: 4.372
The optimal number of starting bikes is 8